<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Quadrant</th>
        </tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.id %></td>
                <td><%= task.task %></td>
                <td><%= task.quadrant %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Add Task', new_category_task_path(@category) %>